.video {
  padding: 75px 20px 0 20px;
}

.player {
  width: 1400px;
  height: 705px;
}

.playerWrapper {
  position: relative;
}

.btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  user-select: none;
  transition: all 500ms ease;
}
  
