.priceItem {
  width: 450px;
  height: 505px;
  border: 3px solid #bdae82;
  padding: 43px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.priceItem h3 {
  color: #fff;
  font-size: 28px;
  line-height: 56px;
}

.priceItem h5 {
  color: #bdae82;
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.priceItem p {
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
